.dark-blue-block {
    background-color: #f0ede6;
    min-width: 300px;
    max-width: 660px;
    min-height: 300px;
    max-height: 660px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 50px;
}

footer {
    background-color: #f0ede6;
}

footer .col-12 {
    display: flex;
    justify-content: center;
}


.priceTr {
    display: flex;
    justify-content: space-around;
}

/* {
    font-size: larger;
} */

/* span.num {
    /* border-right: 2px solid black;  */